{% extends "base.html" %}

{% block content %}
<!-- Country selector and menu -->
<nav class="navbar navbar-light bg-dark">
    <div class="container-sm">
        <a href="{{ url_for(request.endpoint) }}" class="navbar-brand">
            <span class="text-light">
                <img src="{{ url_for('static', filename = 'images/letterboxd.svg') }}" class="image-fluid" alt="Letterboxd" height="30" />
                Streaming Searcher
             </span>
        </a>

        <span class="text-end p-2">

            <form method="POST" action="{{ url_for('process') }}"" autocomplete="off">
            <select name="country" class="form-select form-select-sm" aria-label=".form-select-sm example">
                {% for countryCode, countryName in countries.items() %}
                    <option value="{{ countryCode }}" {%if countryCode == DefaultCountry %}SELECTED{%endif%}>{{ countryName.title() }}</option>
                {% endfor %}
            </select>
            
        </span>
    </div>
</nav>

<!-- Form -->
<section id="form">
    <div class="container-sm bg-secondary">
        <div class="row">
            <div class="col p-2 text-center border-start border-end border-dark">

                {% include 'form.html' %}

                </form>
            </div>
        </div>
    </div>
</section>


 <!-- Movies output -->

<section id="movies">
    <div class="container-sm bg-dark">
        <div class="row text-light">
            {% for movie in movies %} 
                <div class="col">
                    {{ movie['name'] }}
                </div>
            
                <div class="col">
                    <ul>
                        {% for provider in movie['providers'] %}
                            <li>{{ provider['provider_name'] }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="w-100"></div>
            {% endfor %} 
        </div>
    </div>
</section>


{% endblock %}